.card-title.name_detector {
    font-size: 3rem;
    color: black;
}
.sensor h1 {
    margin-bottom: 2rem;
    background-color:red;
}

.sensor p {
    background-color: grey;
    font-size: 2rem;
}

nav .brand-logo {
    font-size: 3vw;
}

.container {
    width: 100%;
    max-width: 100vw;
}

.auth {
    padding-top: 1rem;
}